@import "@/styles/breakpoints";

.nav {
  align-items: center;
  border-bottom: 1px solid #eceff1;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
}

.icons {
  margin: 10px;
}

.wrapper {
  padding: 10px 0;

  @include breakpoint($sm-breakpoint) {
    padding: 20px;
  }
}

.select {
  margin-right: 10px;
}

.discount {
  text-decoration: line-through;
}

.dprice {
  display: inline;
  margin-right: 10px;
}

.nodiscount {
  font-weight: bold;
}

.relatedCards {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 10px 0;

  @include breakpoint($sm-breakpoint) {
    justify-content: flex-start;
  }
}

.dprices {
  display: inline-block;
}

.carouselImg {
  color: #fff;
  height: 350px;
  object-fit: cover;
  text-align: center;
  width: 100%;

  @include breakpoint($sm-breakpoint) {
    height: 400px;
  }

  @include breakpoint($md-breakpoint) {
    height: 450px;
  }

  @include breakpoint($lg-breakpoint) {
    height: 500px;
  }

  @include breakpoint($xl-breakpoint) {
    height: 550px;
  }
}

.cardImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 250px;
  width: 100%;
}

.relatedCard {
  width: 250px;
}

.productActions {
  margin-top: 1.5em;
}
