.nav {
  align-items: center;
  border-bottom: 1px solid #eceff1;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
}

.icons {
  margin: 10px;
}

.row {
  margin-top: 50px;
}

.wrapper {
  padding: 20px;
}

.select {
  margin-right: 10px;
}

.discount {
  text-decoration: line-through;
}

.dprice {
  display: inline;
  margin-right: 10px;
}

.nodiscount {
  font-weight: bold;
}

.related {
  align-items: center;
  display: flex;
  gap: 30px;
  justify-content: flex-start;
}

.dprices {
  display: inline-block;
}

.carouselImg {
  color: #fff;
  height: 550px;
  object-fit: cover;
  text-align: center;
  width: 100%;
}

.cardImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 250px;
  width: 100%;
}

.relatedCard {
  width: 250px;
}

.productActions {
  margin-top: 1.5em;
}
