@import "@/styles/mixins";
@import "@/styles/breakpoints";

$hero-height: 60vh;
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--secondary-color-brighten-60);
  overflow: hidden;
  @include breakpoint($xs-breakpoint) {
    flex-direction: column;
    height: auto;
  }
  @include breakpoint($sm-breakpoint) {
    flex-direction: row;
    height: $hero-height;
  }
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include breakpoint($xs-breakpoint) {
    height: $hero-height / 4;
  }
  @include breakpoint($sm-breakpoint) {
    height: $hero-height;
  }
}

.firstSection {
  background-color: var(--secondary-color-brighten-50);
  transform-origin: top left;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.15);
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
  @include breakpoint($xs-breakpoint) {
    width: 100%;
    transform: skew(-15deg);
    height: $hero-height / 4 * 3;
  }
  @include breakpoint($sm-breakpoint) {
    transform: skew(-20deg) scaleX(1.1);
    width: 60%;
    height: $hero-height;
  }
}

.firstSectionCorrection {
  transform-origin: top left;
  display: flex;
  align-items: center;
  flex-direction: column;
  @include breakpoint($xs-breakpoint) {
    transform: skew(15deg);
    width: 100%;
  }
  @include breakpoint($sm-breakpoint) {
    transform: skew(18deg) scaleX(0.9);
    width: 60%;
  }
}

.cardsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  @include breakpoint($xs-breakpoint) {
    transform: scale(0.55) translateX(-10%);
  }
  @include breakpoint($sm-breakpoint) {
    transform: scale(0.4) translateX(0%);
  }
  @include breakpoint($md-breakpoint) {
    transform: scale(0.6);
  }
  @include breakpoint($lg-breakpoint) {
    transform: scale(0.8);
  }
}
.card {
  transition: transform 0.3s ease-in-out;
  &:nth-child(2) {
    z-index: 1;
    transform: scale(1.1);
  }
  &:hover {
    transform: scale(1.2);
    z-index: 2;
  }
}
.secondSection {
  background-color: var(--secondary-color-brighten-60);
  display: flex;
  justify-content: center;
  align-items: center;
  @include breakpoint($xs-breakpoint) {
    width: 100%;
  }
  @include breakpoint($sm-breakpoint) {
    width: 40%;
  }
}

.input {
  width: 75%;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom: solid 4px var(--secondary-color-brighten-50);
  transition: all 0.3s ease-in-out;
  button {
    background: var(--secondary-color-brighten-50);
    border-bottom-right-radius: 0 !important;
    border: none;
    svg {
      color: var(--secondary-color-brighten-70);
    }
  }
  input {
    color: var(--primary-color-brighten-30) !important;
    font-size: large !important;
    font-weight: 600;
  }
  &::placeholder {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary-color-brighten-40);
    font-size: large;
  }
  &:hover,
  &:active,
  &:focus {
    border-bottom: solid 4px var(--secondary-color-brighten-40) !important;
    button {
      background: var(--secondary-color-brighten-40);
      svg {
        color: var(--secondary-color-brighten-60);
      }
    }
  }
}

.title {
  @include impactFont();
  color: var(--primary-color-brighten-20) !important;
  margin: 0 !important;
  font-size: 4vw !important;
}
