.ant-btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color-darken-10);
  color: var(--primary-color-darken-20);

  &:hover {
    background-color: var(--primary-color-darken-10) !important;
    border-color: var(--primary-color-darken-10) !important;
    color: var(--primary-color-brighten-10) !important;
  }
}

.ant-steps {
  .ant-steps-item {
    &.ant-steps-item-finish .ant-steps-item-icon {
      background-color: var(--primary-color-brighten-20);
      border-color: var(--primary-color);
      .ant-steps-icon {
        color: var(--primary-color-darken-10);
        font-weight: bold;
      }
    }
    &.ant-steps-item-active .ant-steps-item-icon {
      background-color: var(--secondary-color-brighten-30);
      border-color: var(--secondary-color-brighten-20);
      .ant-steps-icon {
        color: var(--secondary-color-brighten-10);
        font-weight: bold;
      }
    }
  }
}

.ant-steps-item-finish .ant-steps-item-icon {
  background: var(--primary-color);
  border-color: var(--primary-color);
}

.ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
  color: red;
}
