/* stylelint-disable selector-class-pattern */
@import "https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap";
@import "./antd-overrides";

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  margin: 0;
  width: 100%;
}

.ant-input-group-addon {
  inset-inline-start: 0 !important;
  vertical-align: bottom !important;
}
