@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

.ant-btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color-darken-10);
  color: var(--primary-color-darken-20);

  &:hover {
    background-color: var(--primary-color-darken-10) !important;
    border-color: var(--primary-color-darken-10) !important;
    color: var(--primary-color-brighten-10) !important;
  }
}