.cardImg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 250px;
  width: 100%;
}

.tagList {
  overflow: auto;
}

.relatedCard {
  height: 385px;
  max-width: 250px;
  min-width: 200px;
}

.dprices {
  display: inline-block;
}
