@import "@/styles/mixins";

.layoutHeader {
  align-items: center;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  transition: box-shadow 0.25s ease-in-out;
  width: 100%;
  z-index: 10;
}

.layoutBody {
  min-height: 85vh;
  padding: 0 50px;
}

.branding {
  align-items: center;
  display: flex;
  gap: 0.5em;

  @include impactFont;

  img {
    border-radius: 50%;
  }
}

.cart {
  align-items: center;
  display: flex;
  gap: 0.25em;
  justify-content: space-between;
  position: relative;

  @include impactFont;
}

.cartTotal {
  bottom: -0.5em;
  color: var(--tertiary-color-brighten-10);
  font-size: large;
  position: absolute;
  right: -0.5em;
}

.footer {
  background-color: white;
  bottom: 0;
  box-shadow: 0 0 0.5em 0.25em rgb(0 0 0 / 0%);
  position: sticky;
  text-align: right;
  transition: box-shadow 0.25s ease-in-out;
}

.hasScrolled {
  box-shadow: 0 0 0.5em 0.25em rgb(0 0 0 / 15%);
}
