@import "@/styles/mixins";

.layoutHeader {
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  transition: box-shadow 0.25s ease-in-out;
}

.layoutBody {
  padding: 0 50px;
}

.branding {
  display: flex;
  align-items: center;
  gap: 0.5em;
  @include impactFont();

  img {
    border-radius: 50%;
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  @include impactFont();
  position: relative;
}

.cartTotal {
  position: absolute;
  bottom: -0.5em;
  right: -0.5em;
  font-size: large;
  color: var(--tertiary-color-brighten-10);
}

.footer {
  background-color: white;
  position: sticky;
  bottom: 0;
  box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0);
  transition: box-shadow 0.25s ease-in-out;
  text-align: right;
}

.hasScrolled {
  box-shadow: 0 0 0.5em 0.25em rgba(0, 0, 0, 0.15);
}
