.nav {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #eceff1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.icons {
    margin: 10px;
}

.row {
    border: 1px solid black;
}