.summaryScreen {
  background-color: white;
  padding-top: 1em;
}

.verticalCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

.itemPrice {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}

.userInfoContainer {
  padding: 0 1em;
}

.ColContainer {
  padding: 1em;
}
