.cardImg {
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.relatedCard {
  width: 250px;
}

.dprices {
  display: inline-block;
}
